/*I know it's kinda lazy if you are using Important but this is only for project purposes*/


@media (max-width: 550px){
    #webtitle{
        margin-left: 32% !important;
        font-size: 45px !important;
    }
    #webtitle2{
        font-size: 22px !important;
        margin-left: 28% !important;
        top: 8% !important;

    }
    .navicons{
        display: none !important;
    }
    .noveskenav{
        margin-left: 43% !important;
        top: 80%;
    }
    #sec2t{
        font-size: 20px !important;
        margin-left: 6% !important;
    }
    /* Pistoles images */

    .MAKAROVA img{
        height: auto;
        width: 200px;
    }
    .WILSON img{
        height: auto;
        width: 200px;
    }
    /* Gun Description */
    .AKNAME{
        font-size: 15px !important;
        top: 115% !important;
    }
    .SCAR{
        font-size: 15px !important;
        top: 115% !important;
        margin-left: 4%;
    }
    .AR{
        font-size: 15px !important;
        top: 140% !important;
    }
    .makarov{
        font-size: 15px !important;
        top: 175% !important;
        margin-right: 10% !important;
    }
    .wilson-edc{
        font-size: 15px !important;
        top: 175% !important;
        margin-left: 34%;
    }
    /* Footer */
   #footcr{
    display: none;
   }
   .priv-term{
    font-size: 15px !important;
    top: 210% !important;
   }
   #footerhidalgo{
    font-size: 12px !important;
    top: 195% !important;
   }
   #visitfooter{
    display: none;
   }
   #footicons{
    position: absolute;
    margin-top: 27% !important;
    font-size: 23px !important;
   }
   .sourcee{
    margin-left: 5%;
    font-size: 15px !important;
   }
   .companylist{
    margin-left: -3%;
    font-size: 15px !important;
   }
}

@media(max-width: 390px)/* Iphone SE*/{
    #webtitle{
        margin-left: 30% !important;
    }
     #webtitle2{
        font-size: 15px !important;
        margin-top: 2%;
        margin-left: 33% !important;
    }
    .noveskenav{
        margin-left: 43% !important;
    }
    .wilson-edc{
        margin-top: 28%;
        left: -25% !important;
    }
    #footerhidalgo{
        margin-top: 20%;
    }
    .priv-term{
        margin-top: 20%;
    }
    .companylist{
        width: auto;
        margin-left: -10%;
        margin-top: 28% !important;
        font-size: 10px !important;
    }
    .sourcee{
        width:auto;
        margin-left: -5%;
        margin-top: 28% !important;
        font-size: 10px !important;
    }
    #footicons{
        width: auto;
        position: static;
        margin-left: 50% !important;
        font-size: 15px !important;
        top: 140% !important;
    }
    #visitfooter{
        display: none;
    }
    .AKNAME{
        font-size: 12px !important;
    }
}
